REVENUECAT_IOS_API_KEY=
REVENUECAT_ANDROID_API_KEY=
ENT_ID=
FREESCOUT_USERNAME=
FREESCOUT_PASSWORD=
GMAIL_IMAP_EMAIL=
GMAIL_APP_PASSWORD=
GMAIL_IMAP_SERVER=
GMAIL_IMAP_PORT=
THEME_PACK_PRODUCT_ID=
RINGTONE_PACK_PRODUCT_ID=
WIDGET_PACK_PRODUCT_ID=
AUTOMATIONS_PACK_PRODUCT_ID=
IFTTT_PACK_PRODUCT_ID=
COMPLETE_PACK_PRODUCT_ID=
CLOUD_SYNC_MONTHLY_PRODUCT_ID=
CLOUD_SYNC_YEARLY_PRODUCT_ID=
CLOUD_SYNC_ENTITLEMONS_URL=
WORLD_MESH_API_URL=
APP_STORE_URL=
USE_LOCAL_API=
LOCAL_API_HOST=
FIREBASE_PROJECT_ID=
FIREBASE_ANDROID_APP_ID=
FIREBASE_IOS_APP_ID=
FIREBASE_IOS_BUNDLE_ID=
WIDGET_BUILDER_LOGGING_ENABLED=
LIVE_ACTIVITY_LOGGING_ENABLED=
CARPLAY_LOGGING_ENABLED=
AUTOMATIONS_LOGGING_ENABLED=
MESSAGES_LOGGING_ENABLED=
MESSAGE_TIMELINE_ENABLED=
IFTTT_LOGGING_ENABLED=
TELEMETRY_LOGGING_ENABLED=
NODES_LOGGING_ENABLED=
CHANNELS_LOGGING_ENABLED=
MAP_LOGGING_ENABLED=
SUBSCRIPTIONS_LOGGING_ENABLED=
SYNC_LOGGING_ENABLED=
AUTH_LOGGING_ENABLED=
NOTIFICATIONS_LOGGING_ENABLED=
PRIVACY_LOGGING_ENABLED=
CONNECTION_LOGGING_ENABLED=
APP_LOGGING_ENABLED=
SOCIAL_LOGGING_ENABLED=
AUDIO_LOGGING_ENABLED=
MAPS_LOGGING_ENABLED=
FIRMWARE_LOGGING_ENABLED=
SETTINGS_LOGGING_ENABLED=
BLE_LOGGING_ENABLED=
PROTOCOL_LOGGING_ENABLED=
DEBUG_LOGGING_ENABLED=
QR_LOGGING_ENABLED=
USB_LOGGING_ENABLED=
STORAGE_LOGGING_ENABLED=
PERMISSIONS_LOGGING_ENABLED=
NODE_LOGGING_ENABLED=
MESSAGE_LOGGING_ENABLED=
BUG_REPORT_LOGGING_ENABLED=
NODEDEX_LOGGING_ENABLED=
MFA_LOGGING_ENABLED=
AETHER_LOGGING_ENABLED=
ADMIN_DIAG_LOGGING_ENABLED=
MQTT_PROXY_LOGGING_ENABLED=
TRANSLATION_ENABLED=
CODEC2_LOGGING_ENABLED=
VOICE_LOGGING_ENABLED=
VOICE_MESSAGES_ENABLED=
FILE_TRANSFER_LOGGING_ENABLED=
FILE_TRANSFER_ENABLED=
SPP_LOGGING_ENABLED=
SPP_NEGOTIATION_LOGGING_ENABLED=
STL_LOGGING_ENABLED=
SIP_ENABLED=
SIP_DEBUG=
SIP_LOGGING_ENABLED=
SIP_INK_LOGGING_ENABLED=
SIP_PLAY_LOGGING_ENABLED=
SIP_SIGNAL_LOGGING_ENABLED=
RETICULUM_TUNNEL_ENABLED=
RETICULUM_LOGGING_ENABLED=
OVERLAY_LINK_ENABLED=
OVERLAY_LOGGING_ENABLED=
OVERLAY_RESOURCE_ENABLED=
OVERLAY_SECURE_ENABLED=
MRRP_ENABLED=
MRRP_DEBUG=
MRRP_HARNESS_ENABLED=
MRRP_HARNESS_DEBUG=
# BLE receive-pipeline stall detection + recovery (iOS stall fix).
# Defaults: DETECTION=true, RECOVERY_RESUBSCRIBE=true, RECOVERY_RECONNECT=false.
BLE_RX_STALL_DETECTION=
BLE_RX_STALL_RECOVERY_RESUBSCRIBE=
BLE_RX_STALL_RECOVERY_RECONNECT=
MESH_EXPLORER_ENABLED=
MESH_EXPLORER_DEBUG=
MESH_SERVICES_ENABLED=
MESH_INCIDENTS_ENABLED=
MESH_CAPACITY_ENABLED=
MESH_CAPACITY_LOGGING_ENABLED=
MESH_FEED_ENABLED=
MESH_FEED_RF_ENABLED=
MESH_FEED_LOGGING_ENABLED=
OPPORTUNISTIC_SYNC_ENABLED=
MESH_GAMES_LOGGING_ENABLED=
MESH_GAME_TRANSPORT_LOGGING_ENABLED=
MESH_GAME_SESSION_LOGGING_ENABLED=
MESH_GAME_UI_LOGGING_ENABLED=
TAK_MESH_BRIDGE_ENABLED=
TAK_GATEWAY_ENABLED=
TAK_GATEWAY_URL=
TAK_LOGGING_ENABLED=
TAK_PUBLISH_ENABLED=
TAK_VIDEO_ENABLED=
API_BASE_URL=
APP_BASE_URL=
AETHER_API_URL=
AETHER_API_KEY=
AETHER_ENABLED=
SOCIAL_ENABLED=
SIGIL_API_URL=
SIGIL_API_KEY=
OPENSKY_CLIENT_ID=
OPENSKY_CLIENT_SECRET=
CLOUDFLARE_API_TOKEN=
OPENSKY_PROXY_URL=
OPENSKY_PROXY_KEY=
DEBUG_EMPTY_STATES=
PET_ENABLED=
PET_LOGGING_ENABLED=
SM_BINARY_ENABLED=
SM_LEGACY_COMPAT=
LANGUAGE_SELECTOR_ENABLED=
NODEBOARD_ENABLED=
NODEBOARD_LOGGING_ENABLED=
APPLE_WALLET_ENABLED=
ADMIN_UIDS=
CLAIMS_LOGGING_ENABLED=
ORG_MANAGEMENT_LOGGING_ENABLED=
FIRESTORE_RULES_LOGGING_ENABLED=
PERMISSION_LOGGING_ENABLED=
UI_GATES_LOGGING_ENABLED=
ROLE_VALIDATION_LOGGING_ENABLED=
INCIDENTS_LOGGING_ENABLED=
INCIDENT_SYNC_LOGGING_ENABLED=
INCIDENT_UI_LOGGING_ENABLED=
INCIDENT_FUNCTIONS_LOGGING_ENABLED=
TASKS_LOGGING_ENABLED=
TASK_SYNC_LOGGING_ENABLED=
TASK_UI_LOGGING_ENABLED=
TASK_FUNCTIONS_LOGGING_ENABLED=
SIGNALS_LOGGING_ENABLED=
REPORTING_LOGGING_ENABLED=
REPORT_UI_LOGGING_ENABLED=
ADMIN_LOGGING_ENABLED=
ENROLLMENT_LOGGING_ENABLED=
ADMIN_SCREENS_LOGGING_ENABLED=
ENTITLEMENT_LOGGING_ENABLED=
METRICS_LOGGING_ENABLED=
PILOT_LOGGING_ENABLED=
ADMIN_DASHBOARD_LOGGING_ENABLED=
REPORTS_LOGGING_ENABLED=
TAK_ORG_LOGGING_ENABLED=